body{
    background-color: beige;
}
h1{
    text-align: center;
    color: rgb(68, 22, 22);
}

form {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: larger;
    background-color: #86f7b5;
    padding: 20%;
}

form label {
    margin-right: 10px;
    color: var(--secondary-color);
}

forminput[type="email"] {
    padding: 10px;
    width: 200px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    background-color:rgb(147, 200, 147);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #27ae60;
}